<section id="profile">
    <header>
        <h1>Profile</h1>
    </header>
    <ul>
        <li>A diverse software engineer with over 8 years of experience in the I.T industry.</li>
        <li>Extensive experience as a software engineer in end-to-end situations, with exposure to various stages of SDLC.</li>
        <li>Passionate technologist who pursues software quality by integrating design, continuous refactoring, and testing throughout project life.</li>
        <li>Strong and in-depth knowledge of a number of technology domains, specifically J2EE.</li>
        <li>Enjoy exploring libraries source codes to gain more understanding of how they work.</li>
    </ul>
</section>