<section id="professionalHistory" ng-controller="ProfessionalHistoryController">
    <header class="page-header">
        <h2>Professional History</h2>
    </header>

    <div id="professionalHistoryAccordion" class="accordion">
        <div class="accordion-group" ng-repeat="work in works">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#professionalHistoryAccordion" href="#collapse{{$index}}">
                    <h4>{{work.company}}<small>{{work.start}} - {{work.finish}}</small></h4>
                </a>
            </div>
            <div id="collapse{{$index}}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <article ng-repeat="project in work.projects" class="well well-large">
                        <header>
                            <h4>{{project.name}}</h4>
                            <h5>{{project.start}} - {{project.finish}}</h5>
                            <div ng-bind-html-unsafe="project.summary"></div>
                        </header>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>