<section id="techSkills" ng-controller="TechnicalSkillsController">
    <header class="page-header">
        <h2>Technical Skills</h2>
    </header>

    <table class="table table-striped table-bordered table-hover">
        <tr ng-repeat="skill in skills">
            <th>
                {{skill.label}}
            </th>
            <td>
                <ul>
                    <li ng-repeat="technology in skill.items">{{technology.label}}</li>
                </ul>
            </td>
        </tr>
    </table>
</section>